@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
  overflow: hidden;

  font-family: Helvetica, Arial, "Inter", serif;
  font-weight: 200;
}
/* .header__letter_spacing {
    letter-spacing: -32px; 
} */
