@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}
/* .header__letter_spacing {
    letter-spacing: -32px; 
} */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #070707;
  }
}